button{
display: flex;
width: fit-content;
padding: .5rem 1rem;
justify-content: center;
align-items: center;

border-radius: 4px;
border: 1px solid #AEA9A9;
background: var(--Btn_Color);

color: #ffffff;
}