.cateTopCont{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    border-bottom: 1px solid #E5E7EB;
}
@media (max-width: 768px) {
    .cateTopCont{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}