.toppage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

    border-bottom: 1px solid #E5E7EB;
}
.pageTopCont{
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;

}