.select-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.select-input-label {
  font-size: 1rem;
  color: #9a9a9a;
}

.select-input-field {
  width: 100%;
  padding: 1rem 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #eee9f0;
  font-size: 14px;
  color: #6a4c7a;
  appearance: none;
  cursor: pointer;

  /* dropdown arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%238d7a9e' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.select-input-field option {
  color: #6a4c7a;
}

.select-input-field option:disabled {
  color: #b8a9c4;
}
