.short-input-wrapper {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.short-input-label {
  font-size: 1rem;
  color: #9a9a9a;
}

.short-input-field {
  padding: 1rem 14px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #eee9f0;
  font-size: 14px;
  color: #6a4c7a;
}

.short-input-field::placeholder {
  color: #b8a9c4;
}
