.taginput-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.taginput-label {
  font-size: 1rem;
  color: #9a9a9a;
}

.taginput-field {
  min-height: 56px;
  padding: 0.6rem 0.8rem;
  background-color: #eee9f0;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.taginput-helper {
  font-size: 0.75rem;
  color: #b0a3bc;
}
