:root{
    --font:"Urbanist", sans-serif;
    --Bg: #f6eafd;
    --dark_Purple: #4A0260;
    --placeHolder: #9972A6;
    --Grey: #99899D;
    --Btn_Color: #88128B;
    --fields_Bg: #E8E3EB;
    --cards_bg: #fefcff;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Bg);
    font-family: var(--font);
}

h2{
    color: var(--dark_Purple);

    font-weight: 600;
    font-size: 1.5rem;
}


h3{
    color: var(--dark_Purple);

    font-weight: 500;
    font-size: 2rem;
}


h4{ 
    color: var(--dark_Purple);

    font-weight: 500;
    font-size: 1.3rem;
}

h5{
    color: var(--dark_Purple);

    font-weight: 500;
    font-size: 1.2rem;
}

h6{
    color: var(--dark_Purple);

    font-weight: 400;
    font-size: 1rem;
}

p{
    color: var(--Grey);

    font-weight: 400;
    font-size: 1.2rem;
}

header{
    width: 100%;
    height: 8vh;

    background-color: var(--cards_bg);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainArea{
    display: grid;
    grid-template-columns: 280px 1fr; 
    height: calc(100vh - 70px); 
}

.sideBar{
    background: var(--cards_bg);
    padding: 2rem 1.5rem;
    overflow-y: auto;
}


.contentArea {
    padding: 25px 30px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.toptwobut{
    width: 100%;
    height: 4vh;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

}

.AllContent{
    width: 100%;
    border-radius: 8px;
    background-color: var(--cards_bg);
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.sec1{
    width: 96%;
    padding: 1rem;

    border-radius: 8px;
    border: 1px solid  #F1D6FF;
    box-shadow: 0 0 4px 0 rgba(136, 18, 139, 0.10);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overCardsCont{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.draftCont{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

