:root{
    --font:"Urbanist", sans-serif;
    --Bg: #f6eafd;
    --dark_Purple: #4A0260;
    --placeHolder: #9972A6;
    --Grey: #99899D;
    --Btn_Color: #88128B;
    --fields_Bg: #E8E3EB;
    --cards_bg: #fefcff;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Bg);
    font-family: var(--font);
}

h3{
    color: var(--dark_Purple);

    font-weight: 500;
    font-size: 2rem;
}

h4{
    color: var(--dark_Purple);

    font-weight: 500;
    font-size: 1.4rem;
}

h6{
    color: var(--dark_Purple);

    font-weight: 300;
    font-size: 1rem;
}

header{
    width: 100%;
    height: 8vh;

    background-color: var(--cards_bg);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainArea{
    display: grid;
    grid-template-columns: 280px 1fr; 
    height: calc(100vh - 70px); 
}

.sideBar{
    background: var(--cards_bg);
    padding: 2rem 1.5rem;
    overflow-y: auto;
}


.contentArea {
    padding: 25px 30px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.toptwobut{
    width: 100%;
    height: 4vh;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

    /* background-color: rgba(0, 255, 255, 0.343); */
}

.AllContent{
    width: 100%;
    height: 100vh;
    border-radius: 8px;
    background-color: var(--cards_bg);
}

