.shortInputsCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featureCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.halfCol{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}